.project {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--side-04);
  padding: var(--space-02);
}
.project > a:hover {
  color: inherit;
}
.project-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  position: relative;
}
.project-item:hover {
  background-color: var(--main-04);
}
.project-item__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  margin-bottom: var(--space-02);
  background-color: white;
  color: var(--grey-04);
  border-radius: 50%;
}
.project-item__text p {
  text-align: center;
  color: white;
}
.project-item:hover .project-item__link {
  display: block;
  z-index: 30;
  color: white;
}
